In [8]:
from google.colab import drive
drive.mount("/content/drive")

#동기화

Mounted at /content/drive

In [21]:
import pandas as pd
import numpy as np

CCTV_Seoul = pd.read_csv("/content/drive/MyDrive/빅데이터마이닝/data science/data/CCTV_in_Seoul.csv",
                         encoding="utf-8")

In [45]:
CCTV_Seoul

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [28]:
CCTV_Seoul.info()
#null = 알지못하는 값 존재하는데 알 수 없는 값
#null 값을 제외해 계산
#null 값이 전체 데이터에 5~10%일 경우 버릴지 말지 판단

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기관명        25 non-null     object
 1   소계         25 non-null     int64
 2   2013년도 이전  25 non-null     int64
 3   2014년      25 non-null     int64
 4   2015년      25 non-null     int64
 5   2016년      25 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.3+ KB

In [27]:
CCTV_Seoul.describe

                소계    2013년도 이전       2014년       2015년       2016년
count    25.000000    25.000000   25.000000   25.000000   25.000000
mean   1179.080000   764.760000  159.480000  205.200000  385.880000
std     556.728983   415.510257  104.132976  137.877059  182.479981
min     485.000000   238.000000   21.000000   30.000000   81.000000
25%     748.000000   464.000000   78.000000  103.000000  292.000000
50%    1015.000000   573.000000  142.000000  184.000000  377.000000
75%    1496.000000  1070.000000  218.000000  269.000000  467.000000
max    2780.000000  1843.000000  430.000000  584.000000  932.000000

In [35]:
CCTV_Seoul.columns
#Python에서는 columns 역시 인덱스로 본다 이는 곧 컬럼의 요소간에 중복이 불가능하다는 것을 의미한다
#열은 특징값 feature 혹은 특성값이라고 칭한다

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [34]:
CCTV_Seoul.index

RangeIndex(start=0, stop=25, step=1)

In [36]:
#독립변수 간의 상관관계를 분석하는 것이 주성분 분석이다

#인과관계 : 원인으로 인해 어떠한 결과가 도출되는 관계
#상관관계 : 성분간 관련이 있는지 Ex) 삼단논법

In [37]:
CCTV_Seoul.columns[0]
#컬럼도 인덱스로 보기 때문에 접근 가능함

'기관명'

In [39]:
CCTV_Seoul[['2015년','2016년']]

    2015년  2016년
0     584    932
1     155    377
2     138    204
3     184     81
4     390    613
5      53    174
6     246    323
7     269    354
8     451    516
9      42    386
10    198    579
11    103    314
12    169    379
13     68    292
14    336    398
15    241    265
16    360    204
17     68    463
18     30    467
19    195    373
20    112    398
21    278    468
22    211    630
23     72    348
24    177    109

In [ ]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]:"구별"}, inplace = True)
CCTV_Seoul
#inplace=True는 원본값에 바로 저장

In [ ]:
pop_Seoul = pd.read_excel("/content/drive/MyDrive/빅데이터마이닝/data science/data/population_in_Seoul.xlsx")
pop_Seoul.tail(5)

In [66]:
use_columns= "B, D, G, J, N" #엑셀 알파벳 열 원하는 것
change_col_name = ["구별","인구수","한국인","외국인","고령자"]
pop_Seoul = pd.read_excel("/content/drive/MyDrive/빅데이터마이닝/data science/data/population_in_Seoul.xlsx",
                          header=2, usecols = use_columns)
pop_Seoul.rename(columns={pop_Seoul.columns[0]:change_col_name[0],
                          pop_Seoul.columns[1]:change_col_name[1],
                          pop_Seoul.columns[2]:change_col_name[2],
                          pop_Seoul.columns[3]:change_col_name[3],
                          pop_Seoul.columns[4]:change_col_name[4],
                          }, inplace=True)
#이 코드 for문으로 해보기
pop_Seoul

      구별         인구수        한국인       외국인        고령자
0     합계  10197604.0  9926968.0  270636.0  1321458.0
1    종로구    162820.0   153589.0    9231.0    25425.0
2     중구    133240.0   124312.0    8928.0    20764.0
3    용산구    244203.0   229456.0   14747.0    36231.0
4    성동구    311244.0   303380.0    7864.0    39997.0
5    광진구    372164.0   357211.0   14953.0    42214.0
6   동대문구    369496.0   354079.0   15417.0    54173.0
7    중랑구    414503.0   409882.0    4621.0    56774.0
8    성북구    461260.0   449773.0   11487.0    64692.0
9    강북구    330192.0   326686.0    3506.0    54813.0
10   도봉구    348646.0   346629.0    2017.0    51312.0
11   노원구    569384.0   565565.0    3819.0    71941.0
12   은평구    494388.0   489943.0    4445.0    72334.0
13  서대문구    327163.0   314982.0   12181.0    48161.0
14   마포구    389649.0   378566.0   11083.0    48765.0
15   양천구    479978.0   475949.0    4029.0    52975.0
16   강서구    603772.0   597248.0    6524.0    72548.0
17   구로구    447874.0   416487.0   31387.0    56833.0
18   금천구    255082.0   236353.0   18729.0    32970.0
19  영등포구    402985.0   368072.0   34913.0    52413.0
20   동작구    412520.0   400456.0   12064.0    56013.0
21   관악구    525515.0   507203.0   18312.0    68082.0
22   서초구    450310.0   445994.0    4316.0    51733.0
23   강남구    570500.0   565550.0    4950.0    63167.0
24   송파구    667483.0   660584.0    6899.0    72506.0
25   강동구    453233.0   449019.0    4214.0    54622.0
26   NaN  11519062.0        NaN       NaN        NaN